[Unit]
Description=Post a cat in your Instagram story, everyday
#Wants=ig-dailycat.service

[Timer]
Unit=ig-dailycat.service
OnCalendar=*-*-* 17:00:00
AccuracySec=1h

[Install]
WantedBy=timers.target