[Unit]
Description=Post a dog in your Instagram story, everyday
#Wants=ig-dailydog.timer

[Service]
Type=oneshot
WorkingDirectory=MANUALLY_SET_THIS
ExecStart=python app.py

[Install]
WantedBy=multi-user.target